<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Demo Site</title>
</head>
	
<body>

	{% if error %}
		<p class="error"><strong>Error:</strong>Invalid DocId
	{% endif %}</p>
	<div id="center">
		<div id="Title">
			File Downloads<br>
		</div>
		<form method="POST">
                      Directory ID: <input type="text" name="DirId"><br>
					<a href="http://0.0.0.0:5000/">
                      <input type="submit" value="Submit"><br><br>
					</a>
                  </form>
	</div>
	<script>
		function myFunction() {
			setTimeout("location.reload();",5000);
		}
	</script>
</body>
</html>
